
    <script src="/main.js"></script>
    <link rel="stylesheet" href="/Utils/controllers.css">


    <h3><%= gMedicos %><h3/>
    <header class="header2">
        <a href="javascript:cargarFormRegisterMedico('/Views/createMedico.ejs')"><button class="button">Agregar Medico</button></a>
        <div class="buscar">
          <label for="dato">Buscar</label>
          <input type="text" id="dato" />
          <button class="button" onclick="buscar_usuario()">Buscar</button>
        </div>
      </header>
<button class="volverAtras"  onclick="volverAtras()">Volver Atras</button>
      <div id="container-medicos" class="container-medicos">

        <div id="tabla_usuarios">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Fotografia</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Educacion</th>
                <th>Operaciones</th>
              </tr>
            </thead>
            <tbody>
              <% listaMedicos.forEach(function(medico) { %>
                <tr>
                  <td><%= medico.id %></td>
                  <td><img src="/images/<%= medico.fotografia %>" alt=""></td>
                  <td><%= medico.nombre %></td>
                  <td><%= medico.apellido %></td>
                  <td><%= medico.telefono %></td>
                  <td><%= medico.email %></td>
                  <td><%= medico.educacion %></td>
                  <td>
                    <button data-action="editar" onclick="editarMedico('<%= medico.id %>')">Editar</button>
                    <button class="btn_eliminar" onclick="eliminarMedico('<%= medico.id %>')">Eliminar</button>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        
      </div>
