
    <script src="/main.js"></script>

    <h3><%= gUsuarios %><h3/>
    <header class="header2">
        <a href="javascript:cargarFormRegister('/Views/createUser.ejs')"><button class="button">Agregar Usuarios</button></a>
        <div class="buscar">
          <label for="dato">Buscar</label>
          <input type="text" id="dato" />
          <button class="button" onclick="buscar_usuario()">Buscar</button>
        </div>
      </header>
<button class="volverAtras"  onclick="volverAtras()">Volver Atras</button>

      <div id="container-usuarios" class="container-usuarios">
        <div id="tabla_usuarios">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cuenta</th>
                        <th>Clave</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% listaUsuarios.forEach(function(usuario) { %>
                        <tr>
                            <td><%= usuario.id %></td>
                            <td><%= usuario.nombre %></td>
                            <td><%= usuario.apellido %></td>
                            <td><%= usuario.cuenta %></td>
                            <td><%= usuario.password %></td>
                            <td><%= usuario.email %></td>
                            <td><%= usuario.rol %></td>
                            <td>
                                <!-- <a href="/updateUsuario/<%= usuario.id %>"><button class="button">Actualizar</button></a> -->
                                <button data-action="editar" onclick="editarUsuario('<%= usuario.id %>')">Editar</button>
                                <button class="btn_eliminar" onclick="eliminarUsuario('<%= usuario.id %>')">Eliminar</button>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>

